html{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1.3rem;
    position: relative;
    overflow: visible;

}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.big {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%; 
    height: ;
    margin-top: 150px;
    gap: 30px;
}

.Button{
    display: flex;
    margin-top: 200px;
    justify-content: space-between;
    gap: 40px;
}

.Button button{
    width: 350px;
    height: 200px;
    border: 1px solid purple;
    background-color: purple;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}


body::before {
    content: "";/* 가상 요소에 내용 추가 */
    position: absolute; /* 절대적인 위치 설정 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* 콘텐츠 뒤로 이동 */
    background-image: url('초격차캠프.png');
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
    filter: blur(60px);
    background: linear-gradient(to top,#b114ff, #8A2BE2,);
}

.button1-image {
    width: 100px; /* 이미지 너비 설정 */
    height: 100px; /* 이미지 높이 설정 */
    background-image: url('번개번개!.png');
    background-size: cover; /* 이미지 크기 조절 */
    background-repeat: no-repeat; /* 이미지 반복 없음 */
    /* 다른 이미지 스타일 조정 가능 */}

.button2-image {
    width: 100px; /* 이미지 너비 설정 */
    height: 100px; /* 이미지 높이 설정 */
    background-image: url('지구지구본!.png');
    background-size: cover; /* 이미지 크기 조절 */
    background-repeat: no-repeat; /* 이미지 반복 없음 */
    /* 다른 이미지 스타일 조정 가능 */}

.button3-image {
    width: 100px; /* 이미지 너비 설정 */
    height: 100px; /* 이미지 높이 설정 */
    background-image: url('게임기.png');
    background-size: cover; /* 이미지 크기 조절 */
    background-repeat: no-repeat; /* 이미지 반복 없음 */
    /* 다른 이미지 스타일 조정 가능 */}